<!--#NewCourse-->
<h1>Add A Course</h1>
<form method="post" action="/courses/create">
 <table>
	<tr>
		<td>
			<label for="title">Title:</label>
		</td>
		<td>		
			<input type="text" name="title">
		</td>
	</tr>
	<tr>
		<td>
			<label for="title">Instructor:</label>
		</td>
		<td>
			<input type="text" name="instructor">
		</td>
	</tr>
	<tr>
		<td>
			<label for="semester">Semester:</label>
		</td>
		<td>
			<input type="text" name="semester">
		</td>
	</tr>
	<tr>
		<td>
			<input type="submit">
		</td>
	</tr>
        <tr>
                <td>
                        <a href="/courses">Back to Courses</a>
                </td>
        </tr>
</table>
</form>	
